In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt

In [2]:
match_path= "Resources/Matches_Results.csv"
odds_path= "Resources/Matches_Odds.csv"

In [3]:
matches=pd.read_csv(match_path)
odds=pd.read_csv(odds_path)

In [4]:
matches.head(10)

,match_id,date_start,competition_name,home_team_name,away_team_name,home_team_score,away_team_score,final_result
0,1,12/26/2016 12:30,Eng. Premier League,Watford,Crystal Palace,1,1,x
1,2,12/26/2016 15:00,Eng. Premier League,Burnley,Middlesbrough,1,0,1
2,3,12/26/2016 15:00,Eng. Premier League,Manchester United,Sunderland,3,1,1
3,4,12/26/2016 15:00,Eng. Premier League,Swansea,West Ham,1,4,2
4,5,12/26/2016 15:00,Eng. Premier League,Arsenal,West Bromwich Albion,1,0,1
5,6,12/26/2016 15:00,Eng. Premier League,Leicester,Everton,0,2,2
6,7,12/26/2016 15:00,Eng. Premier League,Chelsea,Bournemouth,3,0,1
7,8,12/26/2016 17:15,Eng. Premier League,Hull,Manchester City,0,3,2
8,9,12/27/2016 17:15,Eng. Premier League,Liverpool,Stoke,4,1,1
9,10,12/28/2016 19:44,Eng. Premier League,Southampton,Tottenham,1,4,2

In [5]:
merged_df=pd.merge(matches, odds, on=["match_id"])

In [6]:
merged_df

,match_id,date_start_x,competition_name_x,home_team_name_x,away_team_name_x,home_team_score,away_team_score,final_result,date_start_y,competition_name_y,date_created,home_team_name_y,away_team_name_y,home_team_odd,away_team_odd,tie_odd
0,1,12/26/2016 12:30,Eng. Premier League,Watford,Crystal Palace,1,1,x,12/26/2016 12:30,Eng. Premier League,12/26/2016 12:00,Watford,Crystal Palace,2.35,3.10,3.10
1,1,12/26/2016 12:30,Eng. Premier League,Watford,Crystal Palace,1,1,x,12/26/2016 12:30,Eng. Premier League,12/26/2016 6:45,Watford,Crystal Palace,2.40,3.00,3.25
2,1,12/26/2016 12:30,Eng. Premier League,Watford,Crystal Palace,1,1,x,12/26/2016 12:30,Eng. Premier League,12/26/2016 3:35,Watford,Crystal Palace,2.40,3.10,3.10
3,1,12/26/2016 12:30,Eng. Premier League,Watford,Crystal Palace,1,1,x,12/26/2016 12:30,Eng. Premier League,12/23/2016 19:45,Watford,Crystal Palace,2.45,2.90,3.25
4,1,12/26/2016 12:30,Eng. Premier League,Watford,Crystal Palace,1,1,x,12/26/2016 12:30,Eng. Premier League,12/25/2016 15:20,Watford,Crystal Palace,2.45,3.00,3.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
466669,844769,5/23/2018 19:44,French Ligue 1 Playoffs,Ajaccio,Toulouse,0,3,2,5/23/2018 19:44,French Ligue 1 Playoffs,5/23/2018 18:35,Ajaccio,Toulouse,3.60,2.11,3.00
466670,844769,5/23/2018 19:44,French Ligue 1 Playoffs,Ajaccio,Toulouse,0,3,2,5/23/2018 19:44,French Ligue 1 Playoffs,5/23/2018 18:25,Ajaccio,Toulouse,3.65,2.08,3.00
466671,844769,5/23/2018 19:44,French Ligue 1 Playoffs,Ajaccio,Toulouse,0,3,2,5/23/2018 19:44,French Ligue 1 Playoffs,5/23/2018 13:35,Ajaccio,Toulouse,3.65,2.10,2.95
466672,844769,5/23/2018 19:44,French Ligue 1 Playoffs,Ajaccio,Toulouse,0,3,2,5/23/2018 19:44,French Ligue 1 Playoffs,5/23/2018 13:40,Ajaccio,Toulouse,3.75,2.05,3.00
466673,844769,5/23/2018 19:44,French Ligue 1 Playoffs,Ajaccio,Toulouse,0,3,2,5/23/2018 19:44,French Ligue 1 Playoffs,5/23/2018 18:10,Ajaccio,Toulouse,3.85,2.01,3.00

In [7]:
merged_df=merged_df.drop(columns=["date_start_y", "home_team_name_y","away_team_name_y"])

In [8]:
merged_df

,match_id,date_start_x,competition_name_x,home_team_name_x,away_team_name_x,home_team_score,away_team_score,final_result,competition_name_y,date_created,home_team_odd,away_team_odd,tie_odd
0,1,12/26/2016 12:30,Eng. Premier League,Watford,Crystal Palace,1,1,x,Eng. Premier League,12/26/2016 12:00,2.35,3.10,3.10
1,1,12/26/2016 12:30,Eng. Premier League,Watford,Crystal Palace,1,1,x,Eng. Premier League,12/26/2016 6:45,2.40,3.00,3.25
2,1,12/26/2016 12:30,Eng. Premier League,Watford,Crystal Palace,1,1,x,Eng. Premier League,12/26/2016 3:35,2.40,3.10,3.10
3,1,12/26/2016 12:30,Eng. Premier League,Watford,Crystal Palace,1,1,x,Eng. Premier League,12/23/2016 19:45,2.45,2.90,3.25
4,1,12/26/2016 12:30,Eng. Premier League,Watford,Crystal Palace,1,1,x,Eng. Premier League,12/25/2016 15:20,2.45,3.00,3.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...
466669,844769,5/23/2018 19:44,French Ligue 1 Playoffs,Ajaccio,Toulouse,0,3,2,French Ligue 1 Playoffs,5/23/2018 18:35,3.60,2.11,3.00
466670,844769,5/23/2018 19:44,French Ligue 1 Playoffs,Ajaccio,Toulouse,0,3,2,French Ligue 1 Playoffs,5/23/2018 18:25,3.65,2.08,3.00
466671,844769,5/23/2018 19:44,French Ligue 1 Playoffs,Ajaccio,Toulouse,0,3,2,French Ligue 1 Playoffs,5/23/2018 13:35,3.65,2.10,2.95
466672,844769,5/23/2018 19:44,French Ligue 1 Playoffs,Ajaccio,Toulouse,0,3,2,French Ligue 1 Playoffs,5/23/2018 13:40,3.75,2.05,3.00
466673,844769,5/23/2018 19:44,French Ligue 1 Playoffs,Ajaccio,Toulouse,0,3,2,French Ligue 1 Playoffs,5/23/2018 18:10,3.85,2.01,3.00

In [37]:
#create df of each of the top five leagues

Eng_df = merged_df.loc[(
    merged_df["competition_name_x"] == 'Eng. Premier League')]
Eng_df.reset_index(inplace=True)

Ger_df = merged_df.loc[(
    merged_df["competition_name_x"] == 'German Bundesliga')]
Ger_df.reset_index(inplace=True)

Fre_df = merged_df.loc[(
    merged_df["competition_name_x"] == 'French Ligue 1')]
Fre_df.reset_index(inplace=True)

Spa_df = merged_df.loc[(
    merged_df["competition_name_x"] == 'Spanish Liga Primera')]
Spa_df.reset_index(inplace=True)

Ita_df = merged_df.loc[(
    merged_df["competition_name_x"] == 'Italian Serie A')]
Ita_df.reset_index(inplace=True)

#print(f"{len(eng_matches)}, {len(ger_matches)}, {len(fre_matches)}, {len(spa_matches)}, {len(ita_matches)}")
#print(f"{len(English)}, {len(German)}, {len(French)}, {len(Spanish)}, {len(Italian)}")

#len() shows that we are missing some matches since the leagues played 380 matches each, except the German one with 306
#of interest would be finding out which matches are missing from dataset

match_id
1                                  [0, 1, 2, 3, 4, 5, 6, 7]
2                    [8, 9, 10, 11, 12, 13, 14, 15, 16, 17]
3          [18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29]
4         [30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 4...
5                      [44, 45, 46, 47, 48, 49, 50, 51, 52]
                                ...
779262    [445587, 445588, 445589, 445590, 445591, 44559...
779822    [446019, 446020, 446021, 446022, 446023, 44602...
785885    [450139, 450140, 450141, 450142, 450143, 45014...
793088    [457004, 457005, 457006, 457007, 457008, 45700...
793103    [457049, 457050, 457051, 457052, 457053, 45705...
Name: index, Length: 275, dtype: object

In [10]:
#testing the results of some simple betting strategies, always bet home, away, draw. Always bet odds moving up, or always bet odds moving down
 
Eng_data = Eng_df.loc[:,["home_team_odd","away_team_odd","tie_odd","final_result", "match_id"]]

In [18]:
Eng_data['home return'] = np.where(Eng_data["final_result"] == '1', Eng_data['home_team_odd']-1, -1)
Eng_data['home return'].sum()

-4.990000000000123

In [19]:
Eng_data['away return'] = np.where(Eng_data["final_result"] == '2', Eng_data['away_team_odd']-1, -1)
Eng_data['away return'].sum()

-732.1700000000002

In [20]:
Eng_data['tie return'] = np.where(Eng_data["final_result"] == 'x', Eng_data['tie_odd']-1, -1)
Eng_data['tie return'].sum()

#yikes

-412.15000000000003

In [71]:
#creates list of odds available at last call for betting
closing_odds = Eng_df.groupby('match_id')['index'].nsmallest(1)

#creates list of odds available at first available betting opportunity
opening_odds = Eng_df.groupby('match_id')['index'].nlargest(1)

moving_odds_df = pd.merge(closing_odds, opening_odds, on=["match_id"])

moving_odds_df

          index_x  index_y
match_id
1               0        7
2               8       17
3              18       29
4              30       43
5              44       52
...           ...      ...
779262     445587   445595
779822     446019   446037
785885     450139   450170
793088     457004   457048
793103     457049   457065

[275 rows x 2 columns]